# Imports

In [1]:
import pandas as pd
import networkx as nx

from pyvis.network import Network

# Data vizualisation

In [2]:
timetables = pd.read_csv("../data/timetables.csv", sep="\t")
timetables

,trip_id,trajet,duree
0,OCESN003100F140147152,Gare de Le Havre - Gare de Paris-St-Lazare,138
1,OCESN003190F040047309,Gare de Dieppe - Gare de Paris-St-Lazare,145
2,OCESN003198F030037315,Gare de Paris-St-Lazare - Gare de Rouen-Rive-D...,97
3,OCESN003300F030037323,Gare de Cherbourg - Gare de Paris-St-Lazare,194
4,OCESN003313F380387526,Gare de Caen - Gare de Paris-St-Lazare,149
...,...,...,...
1570,OCESN895822F0500552575,Gare de Belfort-Ville - Gare de Lyon-Perrache,244
1571,OCESN895830F0200252600,Gare de Lons-le-Saunier - Gare de Lyon-Perrache,103
1572,OCESN895880F0500552634,Gare de Belfort-Ville - Gare de Lons-le-Saunier,144
1573,OCESN895940F0200252654,Gare de Besançon-Viotte - Gare de Lons-le-Saunier,89
1574,OCESN895942F0900952655,Gare de Bourg-en-Bresse - Gare de Mouchard,81

## Basic graph

In [3]:
timetables['source'] = timetables['trajet'].map(lambda x: x.split(" - ")[0])
timetables['target'] = timetables['trajet'].map(lambda x: x.split(" - ")[1])

In [4]:
graph = nx.from_pandas_edgelist(df=timetables, edge_attr="duree")

In [6]:
net = Network(height="100vh")
net.from_nx(graph)
net.show("../graphs/basic_graph.html")